<!DOCTYPE html>
<html>
<head>
    <title>Social Media Addiction</title>
    <head>
    <title>Kullanışlı bilgiler!</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
</head>
<body>
    <h1>Sosyal Medya Bağımlılığı</h1>
    <p>Sosyal medya günümüzde önemli bir sorun haline geldi işte bunu düzelmek için buradayız:</p>
    <h2>Sosyal Medya Neden Bağımlılık Yaratır?</h2>
             <ul>
                   <li>Sosyal medya, anlık bildirimler ve beğenilerle beynin ödül sistemini sürekli tetikleyerek dopamin salgılanmasına yol açtığı için bağımlılık yaratır.</li>
                   <li>İnsanların sosyal çevrelerindeki veya dünyadaki gelişmeleri kaçırma korkusu, uygulamayı sürekli kontrol etme ihtiyacı doğurarak bir bağımlılık yaratır</li>
             </ul>

    <h4>Bağımlılığın Zararları</h4>
    <ul>
        <li>Uyku düzenini bozabilir ve yorgunluk yaratabilir.</li>
        <li>Gerçek hayattaki sosyal ilişkileri zayıflatabilir ve yalnızlık hissi yaratabilir.</li>
        <li>Özgüven kaybına ve depresyon gibi ruhsal sorunlara yol açabilir.</li>
    </ul>

    <h3>Bağımlılığı Nasıl Önleriz?</h3>
    <ul>
        <li>Sosyal medya kullanımını sınırlamak için belirli zaman dilimleri belirleyin ve bu süreleri aşmamaya özen gösterin.</li>
        <li>Bildirimleri kapatın veya sessize alın, böylece sürekli olarak uygulamayı kontrol etme ihtiyacı azalır.</li>
        <li>Gerçek hayattaki sosyal etkileşimlere öncelik verin ve yüz yüze iletişimi teşvik edin.</li>
        <li>Hobiler ve fiziksel aktiviteler gibi alternatif uğraşlar bulun, böylece sosyal medyaya olan bağımlılık azalır.</li>
     </ul>

     <hr>
     
      <img src="../static/img/Addiction.png" alt="Image1">
      <iframe src="https://embed.windy.com/embed2.html?lat=39.9334&lon=32.8597&detailLat=39.9334&detailLon=32.8597&width=650&height=450&zoom=8&level=surface&overlay=wind&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" width="1200" height="400" frameborder="0"></iframe>
</body>
</html>
