body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #f7f5f5; /* Web sayfasının arka plan rengi */
    color: #070707; /* Metin rengi */
}

h1 {
    color: #bb2e39; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}

h3 {
    color: #000000; /* Başlık rengi */
    font-size: 17px; /* Başlık yazı tipi boyutu */
    font-family: Arial, sans-serif; /* Başlıkta kullanılan yazı tipi ailesi */
}
